<div>
  <h3> Add Adventure </h3>
  <form>
    <div>Name:<input type="text" ng-model="$ctrl.name"></div>
    <div>Category:<input type="text" ng-model="$ctrl.category"></div>
    <div>Cost:<input type="number" ng-model="$ctrl.cost"></div>
    <div>Effort:<input type="number" ng-model="$ctrl.effort"></div>
    <div>Average Duration:<input type="number" ng-model="$ctrl.duration"></div>
    <div>Outdoorsey:<input type="number" ng-model="$ctrl.outdoorsey"></div>
    <button ng-click="$ctrl.search()"> Submit </button>
  </form> 
</div>