<div>
  <h3> Add an Adventure </h3>
  <form class="form-group">
    <div class="block">
      <input type="text" ng-model="$ctrl.name" placeholder="Adventure Name: Skydiving" class="form-control">
    </div>
    <div>
      <input type="text" ng-model="$ctrl.category" placeholder="Adventure Category: Extreme Sport" class="form-control">
    </div>
    <div>
      <input type="number" ng-model="$ctrl.cost" placeholder="Cost: 7" class="form-control">
    </div>
    <div>
      <input type="number" ng-model="$ctrl.effort" placeholder="Effort: 6" class="form-control">
    </div>
    <div>
      <input type="number" ng-model="$ctrl.duration" placeholder="Duration: 4" class="form-control">
    </div>
    <div>
      <input type="number" ng-model="$ctrl.outdoorsey" placeholder="Outdoorsey: 10" class="form-control">
  </div>
    <button ng-click="$ctrl.search()" ng-click="form.reset()" class="btn btn-primary"> Submit </button>
  </form> 
</div>